@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Monoton|Raleway:100i,400');

html {
	height: 100%;
}

body {
	height: 100%;
  background-color: #fff;
  background-size: 100% 1.2em;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255,255,255,1));
}

header{
	height: 20%;
  text-align: center;
}

.topo {
  margin-top: 0;
  padding-top: 1px;
  padding-bottom: 0.8px;
  background-color: black;
  border-bottom: 5px solid;
  border-color: #615d7b;
}

.topo img {
  width: 275px;
  height: 144px;
}

header h1 {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}

blockquote {
  font-size: 35px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

a {
  color: rgb(70,81,206);
  text-decoration: none;
}

.container .button-group {
  display: flex;
  justify-content: center;
}

.container .button-group {
  text-align: right;
}

.container .button-group {
  width: 100%;
}

.container .button-group a {
	width:250px;
	text-align: center;
}

.audio {
  display: none;
}

.container {
	height: 74%;
	position: fixed;
	width: 100%;
	overflow: auto;
	top: 160px;
}

.footer {
	height: 5%;
	position: fixed;
	width: 100%;
	bottom: 0;
	border: 1px solid black;
}
p.titulo {
  font-size: 25px;
  text-align: center;
}

p.poeta {
  padding-left: 80px;
  margin-right: 100px;
  margin-top: 15px;
  font-size: 30px;
  text-align: right;
}

p.help-us {
	margin: 0;
	text-align: center;
	font-size: 1.1em;
	width: 270px;
	color: #fff;
	background: #514785;
	border-radius: 5px 5px 0 0;
	padding: 5px;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 145px;
}

p.help-us i{
  width: 7px;
}

.button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  font-size: 25px;
}

.share {
  width: 100%;
  text-align: center;
  display: contents;
  justify-content: center;
}

.share .item {
  padding: 10px;
}

.share .item a {
  font-size: 0;
}

.mascote {
  opacity:0.2;
  position:absolute;
  right:0;
  bottom:0;
  max-height: 60%;
  max-width: 60%;
  z-index: -1;
}

.div-player {
	text-align: right;
	width: 50%;
	margin-right: 140px;
}

.div-img-rapper {
	position: absolute;
	margin-left: 40px;
	width: 0;
	left: -18px;
	top: 260px;
}

.div-img-rapper img {
	width: 150px;
	height: 177px;
	display:block;
	margin-left: 0;
	margin-right:auto;
}

.div-declamar-button {
	text-align: left;
	width:30%;
	margin-left: 240px;
}

div.share-text p{
  text-align: center;
  font-size: 1.3em;
}

div.share ul {
  padding: 0;
  margin-left: 10px;
  text-align: center;
  margin-top: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn p {
	font-size: 0;
}

.btn-danger {
  color: #fff;
  background-color: #24203c;
  border-color: #24203c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #541c70;
  border-color: #622082;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 37, 149, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #615d7b;
  border-color: #615d7b;
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-danger:not(:disabled):not(.disabled):active,
 .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
 .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.icones-redes-sociais button {
	color: black;
	width: 40px;
	height: 40px;
	display: block;
}
.icones-redes-sociais li {
	display: inline-block;
}

i {
  width: 100%;
  height: 100%;
}

.facebook {
	background-image: url(../img/icones/facebook-box.png);
}

.twitter {
	background-image: url(../img/icones/twitter.png);
}

#send-punch {
  border-left: 1px solid #514785;
  border-right: 1px solid #514785;
	border-bottom: 1px solid #514785;
  width: 270px;
  text-align: center;
  font-size: 1.1em;
  position: fixed;
	right: 145px;
	bottom: 0;
	background-color: rgb(249, 249, 249);
  border-radius: 5px;
}

.close {
  display: none;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

div.form-header {
  background: #514785;
  color: #fff;
  height: 40px;
  cursor: pointer;
  display: grid;
  border-radius: 5px;
}

div.form-header h5 {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}

div.form-header h5 i {
  width: 7px;
}

input.inputs {
  width: 90%;
  margin: 10px 0;
  height: 20px;
}

#punch-line {
  width: 90%;
  margin: 10px 0;
  border-radius: 5px;
}

.btn-send {
  color: #fff;
  width: 35%;
  height: 35px;
  background: #514785;
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#submit-form-punch {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media(max-width: 1080px) {
	blockquote {
	  font-size: 22px;
	  line-height: 28px;
	  padding-left: 0;
	  padding-right: 0;
	  font-weight: bold;
	  text-align: center;
	  margin-top: 0;
	  margin-bottom: 0;
		width: auto;
	}

	.topo {
	  margin-top: 0;
	  padding-top: 1px;
	  padding-bottom: 0.8px;
	  background-color: black;
	  border-bottom: 3px solid;
	  border-color: #615d7b;
	}

	.topo img {
	  width: 200px;
	  height: 104px;
	}


  div.div-img-rapper {
    display: none;
  }

  p.poeta, p.titulo {
    font-size: 22px;
    text-align: center;
  }

  .container div.button-group {
    display: grid;
  }

  div.div-declamar-button, div.div-player {
    width: 100%;
    text-align: center;
    margin: 5px;
  }

  a.declare-button {
    background-color: #373767;
    color: #fff8b6;
  }

  .balao {
    position: relative;
    margin: 10px 10px 0 10px;
    background-color: #dde3ff;
    border-radius: 15px;
  }

  p.help-us {
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    color: #fff;
    background: #514785;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
		right: 0;
  }

  #send-punch {
    width: 100%;
    margin: -260px 0 0 0;
		right: 0;
  }

	aside {
		margin-bottom: 120px;
	}
}

@media(min-width:750px) {
	.container .button-group a {
		width:250px;
		text-align: center;
		background-color: #373767;
		color: #fff8b6;
		padding: 2px 4px 0 3px;
	}
}

@media(min-width: 1238px) {
	.balao {
		position: relative;
		margin-left: 142px;
		margin-right: 142px;
		margin-top: 10px;
		background-color: #dde3ff;
		border-radius: 15px;
	}

	.balao:after, .balao:before {
		top: 100%;
		left: 5%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.balao:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #dde3ff;
		border-width: 30px;
		margin-left: -30px;
	}

	.balao:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: #dde3ff;
		border-width: 36px;
		margin-left: -36px;
	}
}
